@charset "UTF-8";

@font-face {
	font-family: 'NanumGothic';
	src: url('fonts/NanumGothicRegular.eot');
	src: url('fonts/NanumGothicRegular.eot?#iefix')
		format(‘embedded-opentype’), url('fonts/NanumGothicRegular.woff')
		format(‘woff’), url('fonts/NanumGothicRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: 20px;
    font-family: Nanum;
    background-color: #333333;
    color:#d9d0c9;
}

.row{
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

.txtcenter{
    text-align: center;
}

.container{width: 100%; height: 100%;}

.box{margin: 0 3.85em;}

.inner{
    position: relative;
}

/* Header부분 */
#header{
    padding: 2em 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    #header {
      padding: 2em 0; } 
}

#header .logo{float: left; margin-left:7.85em; margin-top:3em;}
#header .logo .hj-logo{
    font-size: 35px;
    text-transform: uppercase; 
    color:#d9d0c9; 
    font-size: 17px; 
    font-weight: 900;
    letter-spacing: 5px;
    padding:0.68em;
    border:1px solid #d9d0c9;
}
#header #nav{overflow: hidden;}
#header #nav ul{display: block; float: right; padding:1.5em; margin-right: 2.53em;}
#header #nav ul li{float: left; padding-right:15px;}
#header #nav ul li a{color:#d9d0c9; font-size: 17px; transition: all 0.3s ease; ;}
#header #nav ul li a:hover{color:#cc9966;}

@media (max-width: 480px){
    #header{padding: 1.2em 0;}
    #header .logo .hj-logo{font-size:10px;letter-spacing: 2px; margin-left:0.8em;}
    #header .logo .hj-logo{padding:2px;}
    #header #nav ul{padding:0;}
    #header #nav ul li{padding-right:5px;}
    #header #nav ul li a{font-size:10px;}
}

/* Main부분 */
#banner{cursor: default; min-height: 42em; position: relative; padding-bottom:4.85em;}
#banner .ban{padding-top: 15vw;}

#banner h2{
            color:#d9d0c9;
			transition: transform 0.5s ease, opacity 0.5s ease;
			display: inline-block;
			font-size: 3.75em;
			opacity: 1;
			padding: 0.25em 1em;
			position: relative;
            z-index: 1;
            border-top:2.5px solid #d9d0c9;
            border-bottom:2.5px solid #d9d0c9;
}

#banner p{
            color:#d9d0c9;
            font-size: 1.75em;
			letter-spacing: 0.225em;
            text-transform: uppercase;
            padding-top:0.98em;
            padding-bottom:1.79em;
}

@media (max-width: 480px){
	#banner .inner{padding-top:10em;}
    #banner h2{font-size:1.75em;}
    #banner p{font-size:0.55em; padding-top:0.75em;}
}

/* ABOUT ME부분 */
#about_me{
    padding: 7em 0;
	clear: both;
    background-color:#d9d0c9; 
    color:#333333;
}

#about_me .let{display: inline-block;}
#about_me .let ul{float:left; border:1px solid greenyellow;}
#about_me .let ul li{ position: relative;}

#about_me .let ul li .photo{
                    height:20vw;
                    top:1em;
                    padding:1em;
                    display: block;
			        opacity: 1;
                    padding: 0.25em 1em;
                }

#about_me .let ul li .photo img{width:15vw; height:17.5vw; border:0.45em solid #333333;}
#about_me .let ul li .name{display: block; margin-top: -2vw;}
#about_me .let ul li .name h1{font-size: 2em; font-weight: 500; padding-left: 1.5em;float: left;}
#about_me .let ul li .name p{font-size: 1.2em; padding-top: 1em; padding-left: 0.75;float: left;}
#about_me .let .tnt{float: left; padding-left: 0.75em;}
#about_me .let .tnt p{font-size: 0.98em; font-weight:500; text-align: left;}

@media (max-width: 480px){
    #about_me .photo img{width:35vw; height:37vw; border:0.45em solid #333333;}
    #about_me h1{font-size: 1.75em; font-weight: 500; padding-left: 0;float: left;}
    #about_me p{display: block; font-size: 0.78em; padding-left: 0;}
    #about_me .inner p{font-size: 0.87em; font-weight:500;}
}

/* SKILL부분 */
#skill{
    padding: 7em 0;
    clear: both;
}

#skill .box ul{ display: inline-block; border:1px solid red;}

#skill .box ul li{float: left; padding:2.5em;  letter-spacing: 3px;}
.icon{width:5.5vw; height:5.5vw;}

#skill .box ul li .txt{display: inline-block;}


/* PROJECT부분 */
#project{
    padding: 7em 0;
    clear: both;
    color: #333333;
    background-color: #d9d0c9;
}

/* 해당class 공통부분 */
.intro{margin-bottom: 3em;}
.intro .intro-title{
    font-size: 45px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.5em;
    position: relative;
    text-transform: uppercase;
}

@media (max-width: 480px){
	.intro .intro-title{
		font-size:35px;
		 margin-bottom: 0.88em;
	}
}

/* RESUME부분 */
#resume{
    padding: 7em 0;
    clear: both;
}

#resume .btn{
    margin-left: 34em;
    font-size: 22px;
    font-weight: 500;
    padding: 0.45em 1.5em;
    border-radius: 5px;
    color:#333333;
    background-color: #cc9966;
}

#resume .btn:hover{
    color: #cc9966;
    border: 2px solid #cc9966;
    background-color: #333333;
}


/* CONTACT부분 */
#contact{
    padding: 7em 0;
    clear: both;
    color: #d9d0c9;;
}

#contact .contact_inner{position: relative;}
#contact .contact_inner h3{font-size: 0.98em; font-weight: 600;}
#contact .contact_inner .contact_mail{font-size: 2.73em; font-weight: 800;color:#d9d0c9;}
#contact .contact_inner .contact_mail:hover{color:#cc9966;}
#contact .contact_inner p{font-size: 0.78em;}

@media (max-width: 480px){
	#contact .container .contact_inner h3{font-size: 0.95em;}
    #contact .container .contact_inner a{font-size: 1.37em;}
    #contact .container .contact_inner p{font-size: 0.52em;}
}

/* Footer부분 */
#footer{height:150px;}
#footer .footer{color:#d9d0c9; font-size: 15px;}
#footer .footer strong{left: 40%;}





