<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="author" content="hajin">
<meta http-equiv="content-language" content="ko" />
<meta http-equiv="content-type" content="text/html" charset="UTF-8" />    
<head>
<title>HajinPortfolio</title>
<link rel="stylesheet" href="../css/style.css"> 
<link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">   
</head> 
<body>
    <!-- header 시작 -->
	<header id="header">
        <div class="container box">
            <h1 class="logo"><a href="../index.html">Rajin</a></h1>
            <nav id="nav" class="menu">
                <ul>
                    <li><a href="about.html">Intro</a></li>
                    <li><a href="project.html">Project</a></li>
                    <li><a href="https://blog.naver.com/hajin0335">Blog</a></li>
                    <li><a href="https://github.com/Rajin444" target="_blank">GitHub</a></li>
                </ul>
        </nav>
            
            <div id="overlay" class="overlay"></div>
        </div>
        <!-- nav 끝 -->
    </header>
     <!-- header 끝 -->
    
     <!-- Sub 시작 -->
     <main id="contents" class="container">
        <section class="about">
			<div class="box">
				<h2 class="title">about</h2>
			</div>
        </section>
    </main>
    <!-- Sub 끝 -->

        </section>
    </main>
    <!-- 끝 시작 -->
    
    <!-- footer 시작 -->
	<footer id="footer">
		<div class="row box">
			<div class="footer">
				<div class="port">
                    <span>Rajin</span>
                </div>
                <div class="policy">
                    <a href="/policy">개인정보 처리방침</a>
                </div>
				<div class="info">
					<span>made in | <strong>Lee_Hajin</strong></span><br />
                    <span><a href="" title="email">이메일 | hajin0533@gmail.com</a></span>
                    <span> <a href="" title="kakaoTalk">카카오톡 | @rajin</a></span>
                    <span><a href="https://github.com/Rajin444" title="gitHub">GitHub | @Rajin444</a></span>
                    <div>Copyright © 2020 by Hajin Lee All Right Reserved</div>
                </div>
            </div>
			</div>
		</div>
	</footer>
	<!-- footer 끝 -->

    </body>
</html>